/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/* src/styles/tailwind.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

.spinner {
    background-color: aliceblue;
    color: rgb(255, 0, 0);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bn632-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    /* margin: 15px; */
    height: 40px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    width: 100%;
}

.bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn26 {
    background-image: linear-gradient( to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}