.email {
    text-align: start;
}

@media screen and (max-width: 444px) {
    .email,
    .name,
    .isdoctor,
    .action {
        font-size: 10px;
    }
    .actions {
        height: 5xp;
        width: 40px;
        font-size: 6px;
        font-weight: lighter;
    }
    .doctors {
        width: 97vw;
        margin: 0;
        position: absolute;
        color: red;
        left: 0;
    }
    .doc-btn {
        font-size: 10px;
    }
    .app {
        height: 25px;
        width: 60px;
        font-size: 8px;
    }
}


/* Add a class for the container that holds the table */

.table-container {
    overflow: auto;
    /* Enable horizontal and vertical scrolling when needed */
    max-height: 400px;
    /* Set a max height to control the table's visible height */
}


/* Styling for the table headers */

.ant-table-thead>tr>th {
    background-color: #f07373;
    /* Change the header background color */
}


/* Styling for table rows on hover */

.ant-table-tbody>tr:hover>td {
    background-color: #e6e6e6;
    /* Change the row background color on hover */
}


/* Custom styling for the title */


/* h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
} */